@import "../../theme-styles.scss";

.account {
  margin-right: auto;
  margin-left: auto;
  // width: 50vw;
  &-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &-edit {
    display: flex;
    justify-content: right;
    color: $color-primary;
    cursor: pointer;
    padding-right: 0.6rem;
  }
  &-detail {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    background-color: $color-dark;
    border-radius: 0.6rem;

    &__name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.4rem 1rem;
    }

    &__info {
      font-size: $heading-size-small;
      color: $color-extra;
      font-family: "Regular";
      // padding: 0rem 0.7rem;
    }
    &__title {
      color: $color-extra;
      font-size: 1.5rem;
      font-family: "Regular";
      margin: 1.3rem 0;
      padding: 1.4rem 0;
    }
  }
  &-name {
    font-size: 1.4rem;
    font-family: "Bold";
    color: $color-secondary;

    &__user {
      font-size: 1.4rem;
      font-family: "Regular";
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
    &__icon {
      color: $color-primary;
      width: 1rem;
      font-size: 1.6rem;
    }
  }
  &-mode {
    font-size: 1.4rem;
    font-family: "Regular";
    padding: 1rem;
  }
}

.receipt-top {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 728px) {
  .account {
    width: 100%;
    margin-bottom: 9rem;
    // margin: 0;
  }
}
