@import "../../theme-styles.scss";

.comment {
  padding: 1rem;
  height: 100%;
  width: auto;
  position: relative;
  display: block;
  &-body {
    height: 100vh;
    overflow: hidden;

    &__message {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &-content {
    &__received {
      display: flex;
      align-items: flex-start;
      gap: 0.6rem;
      float: left;
    }

    &__sent {
      float: right;
      display: flex;
      align-items: flex-start;
      gap: 0.6rem;
    }
  }
  &-received {
    float: left;
    background-color: $color-extra;
    color: $color-tertiary;
    border-radius: 1rem 1rem 0 1rem;
  }
  &-sent {
    float: right;
    background-color: $color-dark;
    border-radius: 1rem 1rem 1rem 0;
  }
  &-text {
    padding: 1rem;
    margin: 0 0 1rem 0;
    width: 50vw;
  }
  &-space {
    position: absolute;
    bottom: 30%;
    left: 0;
    border: 1px solid red;
    width: 100vw;
    padding: 1rem;
  }
  &-input {
    padding: 1rem;
    background-color: black;
  }
}
