@import "../../theme-styles.scss";

.discover {
  &-landing {
    padding: 1rem;
    // background-color: $color-extra;
    box-shadow: 0px 1px 1px 1px $color-extra;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &__heading {
      color: $color-secondary;
      font-weight: 700;
      font-size: 1.4rem;
    }
    &__para {
      color: $color-extra;
    }

    &__btn {
      background-color: $color-primary;
      padding: 0.6rem 1rem;
      color: white;
      width: max-content;
      border-radius: 0.6rem;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      cursor: pointer;
    }
  }
  &-head {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &-icon {
    color: $color-extra;
  }
}
