// @import "../../theme-styles.scss";
// @font-face {
//   font-family: "Regular";
//   src: local("GorditaRegular"),
//     url("./font/Gordita-Regular.otf") format("truetype");
// }

// .main {
//   &-forum {
//     height: 100%;
//     padding: 1rem 0.6rem;
//     position: absolute;
//     display: block;

//     &__top {
//       display: flex;
//       align-items: center;
//       gap: 1rem;
//       padding: 0.7rem 0;
//     }
//     &__heading {
//       font-size: $heading-size-small;
//       color: $color-extra;
//     }
//   }
// }

// .message {
//   height: 100%;
//   background-color: #fff;

//   &-card {
//     padding: 1rem 0.7rem;
//     display: flex;
//     align-items: flex-start;
//     gap: 1.3rem;
//     border-bottom: 1px solid $color-secondary;

//     &__user {
//       font-family: "Bold";
//     }

//     &__message {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       width: calc(100% - (2 * 8px));
//       gap: 0.6rem;
//     }
//   }
//   &-icon {
//     font-size: $paragraph-size-smaller;
//     padding: 1rem;
//     background-color: $color-dark;
//     border-radius: 50%;
//   }
//   &-user {
//     display: flex;
//     align-items: center;
//     gap: 0.6rem;
//     font-size: $paragraph-size-small;
//   }
//   &-body {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 0.7rem;

//     &__img {
//       padding: 1rem;
//       background-color: $color-primary;
//       width: 50vw;
//       height: 10rem;
//       border-radius: 0.6rem;
//     }
//   }

//   &-box {
//     // display: flex;
//     // align-items: center;
//     &__text {
//       font-family: "Light";
//       display: -webkit-box;
//       -webkit-line-clamp: 1;
//       -webkit-box-orient: vertical;
//       overflow: hidden;
//     }
//   }
//   &-link {
//     display: flex;
//     align-items: center;
//     gap: 0.6rem;
//     color: $color-primary;
//     font-size: $paragraph-size-smaller;
//   }
// }
// .readmore {
//   color: $color-primary;
// }

// input {
//   opacity: 0;
//   position: absolute;
//   pointer-events: none;
// }
// input:checked + p {
//   -webkit-line-clamp: unset;
// }
// input:focus ~ label {
//   outline: -webkit-focus-ring-color auto 5px;
// }
// input:checked ~ label {
//   display: none;
// }
