@import "../../theme-styles.scss";

// .home {
//   display: grid;
//   grid-template-columns: repeat(8, 1fr);
//   grid-column-gap: 0px;
//   grid-row-gap: 1rem;
//   width: 100%;
//   &-intro {
//     display: none;
//   }

//   &-landing {
//     grid-column: 1/ 9;
//     grid-row: 1 / 3;
//     width: 100%;
//     display: grid;
//     grid-template-columns: repeat(8, 1fr);
//     padding: 1rem;
//     gap: 2rem;
//     // box-shadow: 0px 1px 1px 1px $color-extra;
//     // border-radius: $border-radius;

//     &__content {
//       grid-column: 1 /4;
//       display: flex;
//       flex-direction: column;
//       gap: 1rem;
//       width: 100%;
//     }
//   }
//   &-form {
//     grid-column: 5/8;
//     border: 1px solid $color-dark;
//   }
//   &-card {
//     height: fit-content;
//     padding: 1rem 1.8rem;
//     border-radius: $border-radius;
//     box-shadow: 2px 1px 1px $color-secondary;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     gap: 1rem;
//     background-color: $color-primary;
//     color: $color-tertiary;

//     &__view {
//       display: flex;
//       flex-direction: column;
//     }
//     &__text {
//       display: flex;
//       align-items: center;
//       gap: 1rem;
//       font-size: $paragraph-size-smaller;
//     }
//     &__amount {
//       display: flex;
//       justify-content: space-between;
//     }

//     &__value {
//       display: flex;
//       justify-content: space-between;
//     }
//     &__bal,
//     &__numb {
//       font-size: $paragraph-size-small;
//     }
//   }

//   &-app {
//     display: flex;
//     justify-content: space-between;
//     box-shadow: 1px 1px 2px $color-extra;
//     padding: 1rem 1.8rem;
//     border-radius: $border-radius;

//     &__heading {
//       font-size: $paragraph-size-small;
//       color: $color-secondary;
//       font-weight: 700;
//     }
//     &__desc {
//       font-size: $paragraph-size-small;
//       color: $color-extra;
//     }
//   }
// }

// .actions {
//   grid-column: 1 / 13;
//   grid-row: 3 / 7;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   gap: 1rem;
//   margin: 1rem 0;

//   &-title {
//     font-size: $heading-size;
//   }
//   &-container {
//     padding: 0 1rem;
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 2rem;
//   }
//   &-card {
//     border: none;
//     padding: 1.5rem 0.8rem;
//     background-color: $color-dark;
//     color: $color-secondary;
//     font-weight: 600;
//     border-radius: $border-radius;
//     display: flex;
//     // flex-direction: column;
//     align-items: center;
//     gap: 1.6rem;
//     font-size: $paragraph-size-small;
//     cursor: pointer;

//     &__title {
//       display: flex;
//       align-items: center;
//       gap: $border-radius;
//     }
//     &__desc {
//       font-size: $paragraph-size-small;
//       color: $color-extra;
//     }
//   }
//   &-icon {
//     color: $color-primary;
//   }

//   &-discover {
//     display: flex;
//     justify-content: center;
//     font-size: 1.5rem;
//     line-height: normal;
//     color: $color-secondary;
//   }
//   &-name {
//     font-size: $paragraph-size-small;
//     font-weight: 500;
//   }
// }

// .foot {
//   grid-column: 1/13;
//   grid-row: 7 / 9;
//   width: 100%;
//   padding: 1.4rem 0.7rem;
//   margin: 2rem 0.1rem;
//   border: 1px solid $color-primary;
//   border-radius: $border-radius;
//   display: flex;
//   align-items: center;
//   gap: 1rem;
//   color: $color-secondary;

//   &-heading {
//     font-size: $heading-size-small;
//     padding-bottom: $border-radius;
//   }

//   &-desc {
//     font-size: $paragraph-size-small;
//   }
// }
// .blur {
//   color: transparent;
//   text-shadow: 0 0 5px $color-tertiary;
// }

// .modal {
//   &-box {
//     border-radius: $border-radius;
//   }
// }
// .blur {
//   color: transparent;
//   text-shadow: 0 0 5px rgba(252, 252, 252, 0.5);
// }
// @media (max-width: 425px) {
//   // .home {
//   //   padding-bottom: 3rem;
//   //   display: flex;
//   //   flex-direction: column;
//   //   &-landing {
//   //     display: flex;

//   //     &__content {
//   //       width: 100%;
//   //     }
//   //   }

//   //   &-intro {
//   //     display: flex;
//   //     align-items: center;
//   //     gap: 1rem;

//   //     &__initial {
//   //       padding: $border-radius;
//   //       font-size: $heading-size-small;
//   //       border-radius: $border-radius;
//   //       background-color: $color-primary;
//   //       color: $color-tertiary;
//   //     }

//   //     &__greet {
//   //       display: flex;
//   //       flex-direction: column;
//   //       // font-size: $paragraph-size;
//   //     }
//   //   }

//   //   &-card {
//   //     padding: 1rem $border-radius;
//   //     margin: 1.5rem 0;
//   //     background-color: $color-primary;
//   //     color: $color-tertiary;
//   //     border-radius: $border-radius;
//   //     display: flex;
//   //     flex-direction: column;
//   //     align-items: flex-start;
//   //     justify-content: space-between;
//   //     gap: 1.3rem;
//   //     width: 100%;

//   //     &__view {
//   //       min-width: 100%;
//   //     }
//   //     &__text {
//   //       display: flex;
//   //       align-items: center;
//   //       gap: 5px;
//   //     }
//   //     &__value {
//   //       display: flex;
//   //       align-items: center;
//   //       gap: $border-radius;
//   //     }
//   //     // &__bal,
//   //     // &__numb,
//   //     // &__value {
//   //     //   font-size: $paragraph-size;
//   //     // }

//   //     &__numb {
//   //       color: $color-tertiary;
//   //     }
//   //     &__amount {
//   //       display: flex;
//   //       align-items: center;
//   //       justify-content: space-between;
//   //     }

//   //     &__icon:active {
//   //       outline: none !important;
//   //       color: $color-secondary;
//   //     }
//   //   }
//   // }
//   // .actions {
//   //   display: flex;
//   //   gap: 2rem;
//   //   &-title {
//   //     font-size: $paragraph-size-small;
//   //   }
//   //   &-name {
//   //     font-size: $paragraph-size-small;
//   //     font-weight: 500;
//   //   }

//   //   &-container {
//   //     display: grid;
//   //     grid-template-columns: repeat(2, 1fr);
//   //     gap: 2rem;
//   //   }
//   // }
//   // .foot {
//   //   margin: 1rem;
//   // }
//   // .greeting {
//   //   color: $color-secondary;
//   //   font-size: $paragraph-size-smaller;
//   // }
//   // .name {
//   //   color: $color-secondary;
//   //   font-weight: bold;
//   //   font-size: $paragraph-size-smaller;
//   // }

//   // .toast-message {
//   //   width: 50%;
//   // }

//   // .modal {
//   //   &-box {
//   //     width: 300px;
//   //   }
//   // }
// }

// @media (max-width: 728px) {
//   // .home {
//   //   &-form {
//   //     display: none;
//   //   }

//   //   &-landing {
//   //     display: flex;
//   //     flex-direction: column;
//   //     gap: 1rem;
//   //     &__content {
//   //       width: 100%;
//   //     }
//   //   }
//   //   &-form {
//   //     width: 50vw;
//   //     margin: 0 auto;
//   //   }
//   // }

//   .home {
//     padding-bottom: 3rem;
//     display: flex;
//     flex-direction: column;
//     // position: relative;
//     &-landing {
//       display: flex;

//       &__content {
//         width: 100%;
//       }
//     }

//     &-intro {
//       display: flex;
//       align-items: center;
//       gap: 1rem;

//       &__initial {
//         padding: $border-radius;
//         font-size: $heading-size-small;
//         border-radius: $border-radius;
//         background-color: $color-primary;
//         color: $color-tertiary;
//       }

//       &__greet {
//         display: flex;
//         flex-direction: column;
//         // font-size: $paragraph-size;
//       }
//     }

//     &-card {
//       padding: 1rem $border-radius;
//       margin: 1.5rem 0;
//       background-color: $color-primary;
//       color: $color-tertiary;
//       border-radius: $border-radius;
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       justify-content: space-between;
//       gap: 1.3rem;
//       width: 100%;

//       &__view {
//         min-width: 100%;
//       }
//       &__text {
//         display: flex;
//         align-items: center;
//         gap: 5px;
//       }
//       &__value {
//         display: flex;
//         align-items: center;
//         gap: $border-radius;
//       }
//       // &__bal,
//       // &__numb,
//       // &__value {
//       //   font-size: $paragraph-size;
//       // }

//       &__numb {
//         color: $color-tertiary;
//       }
//       &__amount {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//       }

//       &__icon:active {
//         outline: none !important;
//         color: $color-secondary;
//       }
//     }
//   }
//   .actions {
//     display: flex;
//     gap: 2rem;
//     &-title {
//       font-size: $paragraph-size-small;
//     }
//     &-name {
//       font-size: $paragraph-size-small;
//       font-weight: 500;
//     }

//     &-container {
//       display: grid;
//       grid-template-columns: repeat(2, 1fr);
//       gap: 2rem;
//     }
//   }
//   .foot {
//     margin: 1rem;
//   }
//   .greeting {
//     color: $color-secondary;
//     font-size: $paragraph-size-smaller;
//   }
//   .name {
//     color: $color-secondary;
//     font-weight: bold;
//     font-size: $paragraph-size-smaller;
//   }

//   .toast-message {
//     width: 50%;
//   }

//   .modal {
//     &-box {
//       width: 300px;
//     }
//   }
// }

.home {
  &-intro {
    display: flex;
    align-items: center;
    gap: $border-radius;
    font-size: $paragraph-size-small;

    &__initial {
      padding: 1rem;
      background-color: $color-dark;
      border-radius: 50%;
    }
  }
  &-card {
    background-color: $color-primary;
    padding: 2rem 1rem;
    border-radius: $border-radius;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__text {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: $paragraph-size-smaller;
      color: $color-dark;
    }
    &__amount {
      display: flex;
      justify-content: space-between;
      color: $color-tertiary;
    }
    &__bal {
      font-size: $paragraph-size;
    }
    &__value {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: $paragraph-size-smaller;
      color: $color-tertiary;
    }
  }

  &-app {
    display: flex;
    justify-content: space-around;
    padding: 1.7rem 1rem;
    box-shadow: 1px 2px 1px 2px $color-dark;
    border-radius: 0.6rem;

    &__desc {
      font-size: $paragraph-size-small;
    }
  }
}

.actions {
  &-title {
    color: $color-secondary;
    font-size: $paragraph-size;
  }
  &-card {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 2rem 1rem;
    margin: 1rem;
    background-color: $color-dark;
    border-radius: $border-radius;
  }

  &-name {
    color: $color-secondary;
    font-size: $paragraph-size;
  }
}

.foot {
  border: 1px solid $color-primary;
  border-radius: $border-radius;
  padding: 1.7rem 1rem;
  display: flex;
  gap: 1rem;

  &-heading {
    color: $color-extra;
    font-size: $heading-size-small;
  }

  &-desc {
    font-size: $paragraph-size-small;
    color: $color-secondary;
  }
}
@media (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-form {
      display: none;
    }

    &-landing {
      &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: column;

    &-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
