@import "../../theme-styles.scss";

.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  // overflow-x: hidden;
  &-intro {
    display: flex;
    align-items: center;
    gap: $border-radius;
    font-size: $paragraph-size-small;

    &__initial {
      padding: 1rem;
      background-color: $color-dark;
      border-radius: 50%;
    }
  }
  &-card {
    background-color: $color-primary;
    padding: 2rem 1rem;
    border-radius: $border-radius;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__text {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: $paragraph-size;
      font-family: "Light";
      color: $color-dark;
    }
    &__amount {
      display: flex;
      justify-content: space-between;
      color: $color-tertiary;
    }
    &__bal {
      font-size: $paragraph-size;
      font-family: "Bold";
    }
    &__value {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: $paragraph-size-smaller;
      color: $color-tertiary;
    }
  }

  &-landing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &-app {
    display: flex;
    justify-content: space-around;
    padding: 1.7rem 1rem;
    box-shadow: 1px 2px 1px 2px $color-dark;
    border-radius: 0.6rem;

    &__heading {
      font-family: "Black";
    }

    &__desc {
      font-size: $paragraph-size-small;
      font-family: "Light";
    }
  }
}

.actions {
  &-title {
    font-family: "Black";
  }
  &-name {
    font-family: "Light";
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.foot {
  border: 1px solid $color-primary;
  border-radius: $border-radius;
  padding: 1.7rem 1rem;
  display: flex;
  gap: 1rem;

  &-heading {
    color: $color-extra;
    font-size: $heading-size-small;
    font-family: "Regular";
  }

  &-desc {
    font-size: $paragraph-size-small;
    font-family: "Light";

    color: $color-secondary;
  }
}
.name {
  font-family: "Bold";
}
.blur {
  color: transparent;
  text-shadow: 0 0 5px $color-tertiary;
}
@media (max-width: 728px) {
  .home {
    &-form {
      display: none;
    }
    &-landing {
      display: flex;
      flex-direction: column;
      width: 100%;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: column;

    &-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// @media (max-width: 425px) {
//   .home {
//     display: flex;
//     flex-direction: column;
//   }
// }
