@import "../../theme-styles.scss";

.settings {
  height: 100%;
  margin-bottom: 9rem;

  &-title {
    display: flex;
    justify-content: center;
    font-size: $heading-size;
    font-weight: 600;
    gap: 1.5rem;
    color: $color-extra;
  }
  &-user {
    display: none;
  }
  &-name {
    color: $color-secondary;
  }

  &-common {
    background-color: $color-dark;
    padding: 1rem 1.2rem;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 0.6rem;
  }
  &-account {
    background-color: $color-dark;
    padding: 1rem 1.2rem;
    border-radius: 0.6rem;
    width: 100%;
    // margin-bottom: 4rem;
  }
  &-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
  }
  &-item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem 0.4rem;
    color: $color-secondary;
    cursor: pointer;
    margin-bottom: 0.6rem;

    &__name {
      font-size: 1.4rem;
      font-weight: 700;
    }
    &__about {
      font-size: 1.2rem;
      margin-top: 0.5rem;
    }
  }
  &-icon {
    padding: 1rem;
    border-radius: 50%;
    font-size: $paragraph-size-small;
    background-color: $color-primary;
  }
}
@media (max-width: 728px) {
  .settings {
    margin-bottom: 6rem;
    &-user {
      background-color: $color-dark;
      padding: 1rem 1.2rem;
      border-radius: 0.6rem;
      width: 100%;
      margin: 2rem 0 3rem 0;
      display: flex;
      align-items: center;
      gap: 1rem;

      &__email {
        font-family: inherit;
        color: $color-secondary;
        font-size: $paragraph-size-small;
      }
    }

    &-item {
      &__name {
        font-size: $paragraph-size-small;
      }
    }
  }
}
