@import "../../theme-styles.scss";

.topup {
  &-link {
    color: $color-secondary;
  }
  &-header {
    border-bottom: 1px solid $color-dark;
    padding: 1rem 1rem 0 1rem;

    &__top {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      color: $color-secondary;
    }
  }
  &-heading {
    font-family: inherit;
    color: $color-secondary;
  }

  &-option {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__card {
      font-weight: 600;
      font-size: 1.4rem;
      cursor: pointer;
    }

    &__active {
      color: $color-primary;
      border-bottom: 1px solid $color-primary;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
  padding: 1rem 0;
  border: 1px solid $color-secondary;
  box-shadow: 1px 1px 1px $color-secondary;
  max-width: fit-content;
  margin: 4rem auto;

  &-info {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .topup {
    // width: 100vw;
    &-content {
      width: 100%;
    }
  }
}
.form {
  &-container {
    border-radius: 0.75rem;
    padding: 1rem;
    color: $color-secondary;
  }
  &-group {
    margin-top: 0.25rem;
    margin-bottom: 0.9rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  &-input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid $color-secondary;
    outline: 0;
    background-color: transparent;
    padding: 0.75rem 1rem;
    color: $color-secondary;
  }
  &-label {
    display: block;
    color: $color-secondary;
    margin-bottom: 4px;
  }

  &-submit {
    display: block;
    width: 100%;
    background-color: $color-dark;
    padding: 0.75rem;
    text-align: center;
    color: $color-primary;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    cursor: pointer;
  }

  &-input:focus {
    border-color: $color-primary;
  }
}

@media (max-width: 425px) {
  .topup {
    display: flex;
    &-content {
      border: none;
    }
    &-header {
      &__top {
        padding-bottom: 1.5rem;
      }
    }
  }
}
