@import "../../theme-styles.scss";

.nav {
  background-color: $color-primary;
  width: 100%;
  padding: 0.9rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-list {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &-item {
    list-style: none;
  }

  &-link {
    display: flex;
    align-items: center;
    color: $color-extra;
    font-size: $link-size;
    font-weight: 600;
    padding: 0.4rem;
    border-radius: 6rem;
    &__icon {
      display: none;
    }
  }
  // &-link:hover {
  //   color: $color-dark;
  // }
  &-active,
  &-link:hover {
    color: $color-dark;
    border-bottom: 1px solid $color-dark;
  }

  &-icon {
    color: $color-dark;
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 1.3rem;
  }
  &-btn {
    padding: 0.5rem;
    background-color: $color-extra;
    color: $color-tertiary;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: 0.4s ease all;
    display: flex;
    gap: 0.4rem;
    // font-size: 1.4rem;
  }

  &-dropdown {
    &__btn {
      outline: none;
      border: none;
      padding: 0.6rem;
      background: $color-extra;
      color: $color-tertiary;
      border-radius: 50%;
    }

    &__content {
      z-index: 10;
      position: absolute;
      top: 4.8rem;
      right: 1rem;

      background-color: $color-primary;
      border-radius: 0.6rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__todos {
      color: $color-extra;
      display: flex;
      flex-direction: column;
      padding: 0.8rem;
    }

    &__do,
    &__name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.6rem;
    }
    &__do {
      width: 100%;
    }
    &__action {
      cursor: pointer;
      font-family: inherit;
      color: $color-dark;
      font-weight: 600;
    }
  }
}

.user {
  &-info {
    padding: 0.8rem;
    border-bottom: 1px solid $color-extra;
    &__detail {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      color: $color-tertiary;
    }
  }
  &-name {
    font-weight: 500;
  }
  &-icon {
    color: $color-extra;
  }
}

.logo {
  background-color: $color-extra;
  padding: 0.6rem;
  border-radius: 50%;
  color: $color-tertiary;
}
@media (max-width: 425px) {
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: $color-dark;
    width: 100%;
    padding: 0.9rem 1rem;

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $color-secondary;
      font-size: $heading-size-small;
      &__icon {
        padding: 0 1rem;
        border-radius: 30%;
        display: inline-block;
        vertical-align: center;
      }
    }
    &-link:hover {
      color: $color-primary;
    }
    .logo,
    &-actions {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    &-btn {
      display: none;
    }
  }
}
