@import "../../theme-styles.scss";

@media (max-width: 768px) {
  .logo {
    display: none;
  }
  .nav {
    // padding: 1rem;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 10;

    &-list {
      position: fixed;
      left: 0;
      bottom: 0px;
      padding: 1.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background-color: $color-dark;
    }
    &-item {
      list-style: none;
    }

    &-link {
      font-size: $heading-size-small;
      color: $color-secondary;
      display: flex;
      flex-direction: column;
      align-items: center;
      // gap: 1rem;
    }
    &-btn,
    &-actions {
      display: none;
    }
  }
}
