@import "./theme-styles.scss";

@font-face {
  font-family: "Black";
  src: local("GorditaBlack"),
    url("./fonts/Gordita-Black.otf") format("truetype");
}

@font-face {
  font-family: "BlackItalic";
  src: local("GorditaBlackItalic"),
    url("./fonts/Gordita-BlackItalic.otf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("GorditaBold"), url("./fonts/Gordita-Bold.otf") format("truetype");
}

@font-face {
  font-family: "BoldItalic";
  src: local("GorditaBoldItalic"),
    url("./fonts/Gordita-BoldItalic.otf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("GorditaLight"),
    url("./fonts/Gordita-Light.otf") format("truetype");
}

@font-face {
  font-family: "LightItalic";
  src: local("GorditaLightItalic"),
    url("./fonts/Gordita-LightItalic.otf") format("truetype");
}

@font-face {
  font-family: "Meduim";
  src: local("GorditaMedium"),
    url("./fonts/Gordita-Medium.otf") format("truetype");
}

@font-face {
  font-family: "MediumItalic";
  src: local("GorditaMediumItalic"),
    url("./fonts/Gordita-MediumItalic.otf") format("truetype");
}
@font-face {
  font-family: "Regular";
  src: local("GorditaRegular"),
    url("./fonts/Gordita-Regular.otf") format("truetype");
}
@font-face {
  font-family: "RegularItalic";
  src: local("GorditaRegularItalic"),
    url("./fonts/Gordita-RegularItalic.otf") format("truetype");
}
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
htm,
body {
  margin: 0px;
  height: 100%;
}
body {
  // to improve text rendering
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  background-color: $color-tertiary;
  min-height: 100vh;
  position: relative;
  font-family: "Regular";
}

html {
  font-size: 62.5%; /*1rem = 10px*/
  line-height: 1.5;
}

.link,
Link {
  text-decoration: none;
}
.main {
  padding: 1rem 2rem;
  height: 100%;
}
.section {
  &-top {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 1rem;
  }
  &-heading {
    font-size: $heading-size-small;
  }
}
.discover {
  &-btn {
    outline: none;
    background-color: $color-dark;
    border: none;
    border-radius: 1.3rem;
    padding: 1rem 0.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
}
.support-reachout {
  display: flex;
  flex-direction: column;
  color: $color-extra;
}
.support-reachout span {
  font-size: 1rem;
}
.img {
  fill: $color-primary;
  width: 50%;
}

.actions {
  &-icon {
    color: $color-primary;
    font-size: 2rem;
  }
  &-title {
    color: $color-secondary;
    font-size: $paragraph-size;
  }
  &-card {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 2rem 1rem;
    margin: 1rem;
    background-color: $color-dark;
    border-radius: $border-radius;
  }

  &-name {
    color: $color-secondary;
    font-size: $paragraph-size;
  }
}
@media (max-width: 728px) {
  .App {
    position: relative;
    min-height: 100vh;
  }
  .main {
    // position: relative;
    padding: 1rem 2rem;
  }
}
