$color-primary: #e3762b;
$color-secondary: #2e3532;
$color-tertiary: #f5f7dc;
$color-dark: #f5e0b7;
$color-extra: #696047;

$heading-size: 1.6rem;
$heading-size-small: 1.4rem;

$paragraph-size: 1.5rem;
$paragraph-size-small: 1.3rem;
$paragraph-size-smaller: 1.1rem;

$button-text: 1.5rem;
$link-size: 1.7rem;

$border-radius: 0.6rem;
